<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infoicon.bonjob">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".logger.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"

            android:resource="@drawable/app_icon" />

        <activity android:name=".splash.SplashActivity"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ShowUrl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginSignupOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialogs.DiplomaDialogFragmentForRegister"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginSignUpSeekerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".fb_login.FbLoginActivity"
            android:screenOrientation="portrait" />  <activity
            android:name=".login.LoginFacebookSignUpSeekerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seeker.searchJob.FullScreenVideoActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
                   <provider
                   android:name="com.facebook.FacebookContentProvider"
                   android:authorities="com.facebook.app.FacebookContentProvider1648186295209411"
                   android:exported="true"/>
        -->

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider350749725385451"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".main.HomeSeekerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|stateAlwaysVisible" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="19d292bf0dc8065d1382a8283173065c0dd49ba4" />
<!--
  <meta-data
            android:name="io.fabric.ApiKey"
            android:value="25e28299d589685d410ef3c42df612b9b52f1fe3" />
-->

        <activity
            android:name=".seeker.searchJob.ApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seeker.searchJob.PlayVideoFullSreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seeker.profile.PickLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginSignUpRecruiterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.HomeRecruiterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <activity
            android:name=".forgotPassword.ForgetPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".login.BeginRecruiterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.post.PostConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.verify_phone.VerifyPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.verify_phone.InputPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.verify_phone.VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.verify_phone.VerifiedPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recruiters.candidateProfile.CandidateProfileActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".chatModule.MyService"
            android:enabled="true" />

        <!-- Todo Firebase Notifications -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Todo Firebase Notifications -->
        <!--
                <receiver android:name=".main.HomeRecruiterActivity$NetworkBroadcastReceive" >
                    <intent-filter>
                        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                    </intent-filter>
                </receiver>

                <receiver android:name=".main.HomeSeekerActivity$NetworkBroadcastReceive">
                    <intent-filter>
                        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                    </intent-filter>
                </receiver>
        -->

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".fcm.RefreshTokenService"
            android:enabled="true" />

        <activity
            android:name=".payment.PaymentStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seeker.searchJob.PoleEmploiRedirectUrl"
            android:label="@string/title_activity_pole_emploi_redirect_url"
            android:theme="@style/AppTheme"></activity>
        <meta-data
            tools:node="replace"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>